body{

	background-color:  #e6e5eb;;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

#cloud1{
	text-align: center;
padding-left: 30%;
}

#cloud2{
	text-align: center;
padding-right: 30%;
}
.topcontainer{
	text-align: center;

    font-family: Arial, Helvetica, sans-serif;
	
}
.middlecontainer{
	text-align: center;

	font-family: Arial, Helvetica, sans-serif;
}
#mountain{
	text-align: center;
	
	
}
#mountainimg{
	height: 500px;
	width: 900px;
	 border-radius:100px ;
}

#myimg{
	border-radius: 300px;

	margin-left: 35%;
	height: 500px;
	width: 500px;
}
#intro{
	text-align: center;
}
#intro h3,h1,h2{
	font-family:  Helvetica, sans-serif;
	
}

#skillsgif{
	border-radius: 360px;
	height: 300px;
	width: 300px;
}

